/* font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;*/


  body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
  }

  /* reset */
  
ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
/* common */

.container{
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}



/* header */

.header-logo .logo-part{
color:#2e2f42;
}
.header-logo{
  margin-right: 76px;
  padding: 24px 0;
}
.page-header{
  border-bottom: 1px solid #e7e9fc;
}
header-container{
display: flex;
align-items: center;
}
.header-nav{
  display: flex;
  align-items: center;
}
.nav-list{
  display: flex;
  align-items: center;
  gap:40px;
}
.contacts-list{
  display: flex;
  align-items: center;
  gap: 40px;

}

.nav-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
  color: #404bbf;
}
.contacts{
  font-style: normal;
  margin-left: auto;
}
.contacts-link{
  display: block;
  padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* footer */

.page-footer{
  background-color: #2e2f42;
}
.footer-logo .logo-part{
color:#f4f4fd;}

.footer-logo{
  margin-bottom: 16px;
}
.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}








/* section 1 */



.hero-section{
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-container{
   max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.headline-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}



.button-box {
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}


.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  background-color: var(--accent-color, #4d5ae5);
  border-radius: 4px;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button-box:hover,
.button-box:focus {
  background-color: #404BBF;
}

.advantages-section

.advantages-list{

}
.advantages-item

.advantages-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.advantages-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.team-section{
background-color: #f4f4fd;
}

.text-title-team-section{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.team-list{
  background-color: #FFFFFF
}
.team-item{
  background-color: #ffffff;
}

.team-names-text{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.portfolio-section {
  background-color: #f4f4fd;
  padding: 80px 20px;
}
