/* font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;*/


  body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
  }
ul, ol {
  list-style-type: none;
}
a{
  text-decoration: none;
}
.logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo .logo-part{
color:#2e2f42;
}
.nav-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
  color: #404bbf;
}
.contacts{
  font-style: normal;
}
.contacts-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.page-footer{
  background-color: #2e2f42;
}
.footer-logo .logo-part{
color:#f4f4fd;}

.footer-logo{
  margin-bottom: 16px;
}


.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.header-logo{
  margin-right: 76px;
}

.background-color {
  background-color: #2e2f42;
}

.headline-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.button-color {
  background-color: #4D5AE5;
}

.button-box {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
}

.button-box:hover,
.button-box:focus {
  background-color: #404BBF;
}

.advantages-section

.advantages-list{

}
.advantages-item

.advantages-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.advantages-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.team-section{

background-color: #f4f4fd;
}
.text-title-team-section{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.team-list{
  background-color: #FFFFFF
}
.team-item{
  background-color: #ffffff;
}

.team-names-text{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.portfolio-section {
  background-color: #f4f4fd;
  padding: 80px 20px;
}
